{{ with .Site.Data.blogSection }}
{{ if .enable }}
<section class="section blog-preview" id="blog">
	<div class="blog-preview__shape">
		<img src="images/blog/blog-shape.svg" alt="blog shape" />
	</div>
	<div class="container">
		<div class="row mb-5">
			<div class="col-lg-8">
				<div class="blog-preview__header">
					<span class="top-title pre-line">{{ .topTitle }}</span>
					{{ .title | markdownify }}
					{{ if .content }}
					<div class="mt-3">
						{{ .content | markdownify }}
					</div>
					{{ end }}
				</div>
			</div>
			<div class="col-lg-4">
				<div class="blog-preview__header_button desktop">
					<a class="btn btn-outline-secondary btn-zoom m-3" href="{{ .buttonTarget | absURL }}">See all my writing samples</a>
				</div>
			</div>
		</div>

		<div class="row">
			{{ range first 3 (where $.Site.RegularPages "Type" "!=" "portfolio") }}
			<div class="col-lg-4">
				<div class="blog-preview__item">
					<a href="{{ .Params.externalURL }}" target="_blank">
						<div class="blog-preview__item-thumb" style="overflow: hidden; width: 100%; padding-top: 100%; position: relative;">
							<img src="{{ .Params.featureImage | absURL }}" alt="post-image" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
						</div>
					</a>
					<div class="blog-preview__item-content bg-white">
						<span class="small">{{ .PublishDate.Format "January 2, 2006" }}</span>
						<h5 class="mb-0">
							<a class="text-dark" href="{{ .Params.externalURL }}" target="_blank">{{ .Title }}</a>
						</h5>
						<p>{{ .Params.publication }}</p>
						<p class="small text-muted">{{ .Params.tagline }}</p>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="blog-preview__header_button mobile">
					<a class="btn btn-outline-secondary btn-zoom" href="{{ .buttonTarget | absURL }}">See all my writing samples</a>
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }} 
{{ end }}
